<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Jobs</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="create()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="filter">
    <ion-segment-button value="incomplete">
      Upcoming
    </ion-segment-button>
    <ion-segment-button value="completed">
      Completed
    </ion-segment-button>
  </ion-segment>
  <ion-list *ngIf="filter === 'incomplete'">
    <ion-item-sliding #item *ngFor="let job of incompleteJobs$ | async | comparesort:'date'">
      <ion-item (click)="view(job)">
        <h2>{{ job.client?.name }}</h2>
        <h3>{{ job.date | moment:'format':'MMMM D YYYY, h:mm a' }}</h3>
        <p>{{ job.notes }}</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="edit(job)">Edit</button>
        <button ion-button color="danger" (click)="delete(job)">Delete</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list *ngIf="filter === 'completed'">
    <ion-item *ngFor="let job of completedJobs$ | async | comparesort:'date':true" (click)="view(job)">
      <h2>{{ job.client?.name }}</h2>
      <p>{{ job.date | moment:'format':'MMMM D YYYY, h:mm a' }}</p>
    </ion-item>
  </ion-list>
</ion-content>
