<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Jobs</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="create()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="view">
    <ion-segment-button value="upcoming">
      Upcoming
    </ion-segment-button>
    <ion-segment-button value="past">
      Past
    </ion-segment-button>
  </ion-segment>
  <ion-list *ngIf="view === 'upcoming'">
    <ion-item-sliding #item *ngFor="let job of upcomingJobs$ | async | comparesort:'date'" (click)="select(job)">
      <ion-item>
        <h2>{{ job.client?.name }}</h2>
        <p>{{ job.date | dayjs:'format':'MMMM D YYYY, h:mm a' }}</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="delete(job)">Delete</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list *ngIf="view === 'past'">
    <ion-item *ngFor="let job of pastJobs$ | async | comparesort:'date':true" (click)="select(job)">
      <h2>{{ job.client?.name }}</h2>
      <p>{{ job.date | dayjs:'format':'MMMM D YYYY, h:mm a' }}</p>
    </ion-item>
  </ion-list>
</ion-content>
