<ng-container *ngIf="job$ | async as job">
  <ion-header>
    <ion-navbar color="primary"></ion-navbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item *ngIf="job.client">
        <ion-icon name="person" item-start></ion-icon>
        <h3>Client</h3>
        <p>{{ job.client.name }}</p>
      </ion-item>
      <ion-item *ngIf="job.estHours">
        <ion-icon name="time" item-start></ion-icon>
        <h3>Estimated Hours</h3>
        <p>{{ job.estHours }}</p>
      </ion-item>
      <ion-item *ngIf="job.quote">
        <ion-icon name="cash" item-start></ion-icon>
        <h3>Quote</h3>
        <p>${{ job.quote }}</p>
      </ion-item>
      <ion-item *ngIf="job.notes">
        <h2>Notes</h2>
        <p text-wrap>{{ job.notes }}</p>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer *ngIf="!job.finishedAt">
    <ion-toolbar color="dark">
      <ion-title text-center>
        <ng-container *ngIf="runtime$ | async as runtime; else unstarted">
          <p>In progress for {{ runtime }}</p>
        </ng-container>
        <ng-template #unstarted>
          <p>Job scheduled for {{ job.date | moment:'format':'hh:mm a' }}</p>
        </ng-template>
      </ion-title>
      <button *ngIf="!job.startedAt" color="secondary" ion-button full (click)="start(job)">START</button>
      <button *ngIf="job.startedAt" color="secondary" ion-button full (click)="finish(job)">FINISH</button>
    </ion-toolbar>
  </ion-footer>
</ng-container>
